<p style="color: green"><%= notice %></p>

<% if admin_signed_in? %>
  <div id="statuses">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Alumni</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>Nama</th>
              <th>Tempat lahir</th>
              <th>Tanggal lahir</th>
              <th>Jenis kelamin</th>
              <th>Alamat</th>
              <th>Nomor telepon</th>
              <th>Jurusan</th>
              <th>Tahun</th>
              <th></th>
            </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Nama</th>
                <th>Tempat lahir</th>
                <th>Tanggal lahir</th>
                <th>Jenis kelamin</th>
                <th>Alamat</th>
                <th>Nomor telepon</th>
                <th>Jurusan</th>
                <th>Tahun kelulusan</th>
                <th></th>
              </tr>
            </tfoot>
            <tbody>
              <% @profiles.each do |profile| %>
                <%= render profile %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% elsif user_signed_in? %>
  <%= link_to "Buat profil baru", new_profile_path %>
<% end %>
