<p style="color: green"><%= notice %></p>

<h1>Profiles</h1>

<div id="profiles">
  <% if admin_signed_in? %>
    <% @profiles.each do |profile| %>
      <%= render profile %>
      <p>
        <%= link_to "Tampilkan", profile %>
      </p>
    <% end %>
  <% elsif user_signed_in? %>
    <%= link_to "Buat profil baru", new_profile_path %>
  <% end %>
</div>
